/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url("./assets/background-image.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

